.H1{
    background-color: #B4BAD4;
}
.header{
    display: inline-flex;
    width:100%;
}
.logo{
    max-width: 100px;
}
.BrandName{
    padding-top: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.75rem;
    font-style: bold;
}
.Nav{
    list-style: none;
    display: flex;
    justify-content: Right;
    background-color: #B4BAD4;
    margin:0;
    padding: 10px;
}
.nav1{
    padding-left: 1rem; 
    font-size: 1.25rem;
}
.Nav 
a{
    text-decoration: none;
}
a:hover{
    color: blue;
}