.Inventory2 {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row if needed */
  }
  
  .sec1 {
    flex: 1; /* Make this section take up 1/3 of the available space */
    padding: 20px; /* Add padding as needed */
  }
  
  .sec2 {
    flex: 1; /* Make this section take up 1/3 of the available space */
    padding: 20px; /* Add padding as needed */
  }
  
  .sec3 {
    flex: 1; /* Make this section take up 1/3 of the available space */
    padding: 20px; /* Add padding as needed */
  }
  